* {margin: 0;
  padding: 0;
}

.cabecalho {
background-color: #0733A6;
color:white;
display:flex;
justify-content: space-around;
align-items: center;
padding:24px 0;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
font: size 30px;
}

.curso{
  background: linear-gradient(180deg, rgba(2, 11, 90, 0.97) 0%, rgba(128, 92, 232, 0.392157) 100%);
 color:white;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 24px 0;
}

.curso-div-conteudo{
  width: 35%;
 }
 .curso-titulo{
  padding: 24px 0;
 }

 
.projeto-titulo{
  background: white;
  text-align: center;
  padding: 50px 0;
}
.projeto-div{
  text-align: justify;
  padding: 16px 0;
 }
.rodape{
  background-color: black;
  text-align: center;
}