* {margin: 0;
  padding: 0;
}

.cabecalho {
background-color: #0733A6;
color:white;
display:flex;
justify-content: space-around;
align-items: center;
padding:22px 0;
}
.cabecalho-imagem1{
width 2% ;
}
.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
font: size 30px;
}